
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  input::placeholder{
    font-size: 17px;
    
  }
  
  /*Header Part*/
  .header {
    position: relative;
    height: 90vh;
    width: 100%;
    opacity: 1;
    z-index: 2;
    background-image: url("../assets/office2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(17, 0, 255);
  }
  .header-title > div{
    font-size: 440%;
  }


.desk-searching{
    margin-top: 4.5%;
    border-radius: 2px;
}
.header-lines1 > div{
    font-size: 167%;
}
.header-lines2{
    margin-top: 0px;
}
.header-lines2 > div{
    font-size: 167%;
}
.input-loc{
    height: 50px;
}

.header-container{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  /*Achor Tag style*/
  a {
    text-decoration: none;
    color: white;
  }
  /*Text*/
  .txt-color {
    color: white;
  }

  .logo::first-letter {
    text-decoration: underline;
  }
  .footer-logo::first-letter{
    text-decoration: underline;
    color: white;
  }
.btn-ln{
  background-color: #355bd4 ; border-radius: 2px
}
  /*City cards*/
  .city-card {
    height: 450px;
    position: relative;
    opacity: .9;
  }
  .city-card:hover{
    opacity: 1;
    transition: transform .2s;
    padding: 1px;
    font-size: larger;
  }

  .imgCity {
    object-fit: cover;
    height: 100%;
    filter: brightness(50%);
  }
  .centered {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .avatar{
      width: 100px;
      height: 100px;
      object-fit: cover;
  }
  .avatar > svg{
    margin-top: 30%;
  }

  .spaces-badge{
    position: absolute;
    bottom: 7%;
    right: 5%;
    border-radius: 5px;
    background-color: #355bd4;
    padding: 2px 5px;
  }
  .space-price{
    font-size: 100px;
    padding-left: 7%;
  }


  .workspace-icons{
    height: 70px;
    width: 70px;
    background-color: #b5ccf1;
  }

  .second-text{
    color:#506690;
    margin-top: 20px;
  }
  .list-group-item{
    border: 1px solid white;;
  }


  .footer-heading:hover{
    opacity: .8;
  }


  .card-size{
    min-height:400px;
  }
  tr{
    height: 50px;
  }
 
 
  @media (max-width:1000px){
    .header-title >  div{
        line-height: 1;
        font-size: 184%;
        margin-top: 10px;
    }
    
  .header-lines1 > div{
      font-size: 101%;
      line-height: 1;
  }
  
  .header-lines2 > div{
      font-size: 20px;
      line-height: 1;
  }
  .desk-searching{
    margin: 10px 6px;
    padding: 5px 5px; 
  }


  }
  @media (max-height:600px){
    .header-title >  div{
        line-height: 1;
        font-size: 40px;
        margin-top: 10px;
    }
    .header-title{
      margin-top: 20px;
    }
    
  .header-lines1 > div{
      font-size: 20px;
      line-height: 1;
  }
  
  .header-lines2 > div{
      font-size: 20px;
      line-height: 1;
  }
  .desk-searching{
    margin: 10px 6px;
    padding: 5px 5px; 
  }


  }
  

/* 
  display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
    margin-left: -6%; */